# Dependencias
node_modules/** linguist-vendored

# Código compilado
dist/** linguist-generated=true
dist-ssr/** linguist-generated=true

# Reportes de pruebas
playwright-report/** linguist-generated=true
test-results/** linguist-generated=true

# Logs
*.log linguist-generated=true

# Archivos de entorno
.env linguist-generated=true
.env.local linguist-generated=true

# Archivos del editor
.vscode/** linguist-generated=true
.idea/** linguist-generated=true