*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
}

body {
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  display: grid;
  place-content: center;
  height: 100vh;
  padding: 36px 36px 100px;
}

#chat {
  background-color: #222222;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;

  width: 350px;
  height: 100%;

  position: relative;
  display: flex;
  flex-direction: column;
}

#messages {
  display: flex;
  flex-direction: column;
  gap: 25px;

  list-style: none;
  padding: 18px;
  margin: 0;

  overflow-y: auto;
  overflow-x: hidden;

  flex: 1;
  min-height: 0;
}

#messages > li {
  width: fit-content;
  max-width: 80%;
  color: #ffffff;

  overflow-wrap: anywhere;
  word-break: break-word;
}

li > strong {
  display: block;

  padding: 8px;
  border-radius: 10px;

  overflow-wrap: anywhere;
  word-break: break-word;

  font-family: "Inter", sans-serif;
  font-size: small;
}

li:nth-child(odd) strong {
  background-color: #3b4369;
}

li:nth-child(even) strong {
  background-color: #693b49;
}
li > div {
  border-radius: 5px;

  padding: 0px 5px;

  font-size: x-small;

  display: flex;
  justify-content: space-between;
  height: 30px;
  align-items: flex-start;

  font-family: "Inter", sans-serif;
}

li > div p {
  margin: 5px;
}

#form {
  display: flex;

  flex-shrink: 0; /* 👈 evita que se encoja */
  height: 48px;

  padding: 4px;

  background-color: inherit;
}

#input {
  border-radius: 10px;
  border: 1px solid #ccc;

  flex: 1;

  margin: 4px;

  padding: 0 8px;
}

#input:focus {
  outline: none;
}

#form > button {
  font-size: large;
  background-color: rgb(9, 92, 148);
  border: none;
  margin: 4px;
  border-radius: 4px;
}

#form > button:hover {
  background-color: rgb(24, 126, 194);
}

#messages::-webkit-scrollbar {
  width: 5px;
}

#messages::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 999px;
}
