<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="login.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="container">
      <!--       <% if (typeof username !== 'undefined') { %>
      <div class="form-container">
        <h2 style="margin: 0; text-align: center">Hola, <%= username %>!</h2>
        <p>Estás en el panel de administración</p>
        <button id="close-session">Cerrar sesión</button>
      </div>
      <% } %> <% if (typeof username === 'undefined') { %> -->
      <div class="form-container">
        <form id="login-form">
          <h2>Login</h2>
          <label>Username</label>
          <input name="login-username" required />

          <label>Password</label>
          <input type="password" name="login-password" required />

          <button type="submit">Login</button>

          <span>&nbsp;</span>
        </form>
      </div>

      <div class="form-container">
        <form id="register-form">
          <h2>Register</h2>
          <label>Username</label>
          <input name="register-username" required />

          <label>Password</label>
          <input type="password" name="register-password" required />

          <label>Confirm password</label>
          <input type="password" name="register-confirm-password" required />

          <button type="submit">Register</button>
          <span>&nbsp;</span>
        </form>
      </div>
    </div>
    <script src="login.js"></script>
  </body>
</html>
